.header-navbar {
  padding: .5rem 15vw!important;
  box-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.1);
}

.header-navlink {
  border-width: 1px 0px;
  border-style: solid;
  text-align: left;
  border-color: transparent;
  outline: none!important;
}

.active {
  border-bottom-color: #FA8266;
}

.header-navlink:hover {
  border-bottom-color: #FA8266;
}